---
jobs:
  build:
    docker:
      - image: docker:19.03.8-git
    working_directory: /app
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Installing dependencies
          command: |
            set -x
            apk add --no-cache --no-progress bash py-pip python-dev libffi-dev openssl-dev gcc libc-dev make
            pip install --quiet docker-compose
      - run:
          name: Logging Docker and Application information
          command: |
            set -x
            docker -v
            docker-compose -v
            ls -l
      - run:
          name: Testing the Docker installation
          command: docker container run hello-world
